version: "3.8"

services:
  immich-server:
    container_name: immich-server
    image: ghcr.io/immich-app/immich-server:v2.5.3
    restart: unless-stopped
    ports:
      - "2283:2283"
    environment:
      DB_URL: postgres://immich:immich@immich-db:5432/immich
      REDIS_HOSTNAME: immich-redis
      NODE_ENV: production
    depends_on:
      - immich-db
      - immich-redis
    volumes:
      - /mnt/t5/immich/photos:/usr/src/app/upload
      - /mnt/wdhdd/Photo:/usr/src/app/library:ro
    cpus: 3

  immich-web:
    container_name: immich-web
    image: ghcr.io/immich-app/immich-web:v2.5.3
    restart: unless-stopped
    ports:
      - "2284:3000"
    depends_on:
      - immich-server
    environment:
      IMMICH_SERVER_URL: http://100.123.199.118:2283

  immich-microservices:
    container_name: immich-microservices
    image: ghcr.io/immich-app/immich-server:v2.5.3
    restart: unless-stopped
    environment:
      DB_URL: postgres://immich:immich@immich-db:5432/immich
      REDIS_HOSTNAME: immich-redis
      NODE_ENV: production
    depends_on:
      - immich-db
      - immich-redis
    volumes:
      - /mnt/t5/immich/photos:/usr/src/app/upload
      - /mnt/wdhdd/Photo:/usr/src/app/library:ro
    command: [ "start-microservices.sh" ]
    cpus: 3

  immich-machine-learning:
    container_name: immich-machine-learning
    image: ghcr.io/immich-app/immich-machine-learning:v2.5.3
    restart: unless-stopped
    volumes:
      - model-cache:/cache
    environment:
      NODE_ENV: production
    cpus: 3

  immich-redis:
    container_name: immich-redis
    image: redis:7
    restart: unless-stopped

  immich-db:
    container_name: immich-db
    image: ghcr.io/immich-app/postgres:14-vectorchord0.3.0-pgvectors0.2.0
    restart: unless-stopped
    environment:
      POSTGRES_DB: immich
      POSTGRES_USER: immich
      POSTGRES_PASSWORD: immich
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
  model-cache:
